* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

header {
  background-color: blue; 
  padding: 10px;
  text-align: center; 
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

nav ul li {
  margin: 0 15px; 
}

nav ul li a {
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

nav ul li a:hover {
  text-decoration: underline; 
}

header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

header a:hover {
  text-decoration: underline;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}

h1, h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

.income {
  color: #28a745;
}

.expense {
  color: #dc3545;
}

.balance {
  color: #007bff;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

form {
  width: 45%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
